**K-Fold Cross Validation**

In [2]:
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [3]:
names=('preg','pras','skin','test','mass','pedi','age','class')
df=read_csv('/content/pima-indians-diabetes.csv', names=names,skiprows=1)

In [4]:
df

    preg  pras  skin  test  mass   pedi  age  class
6    148    72    35     0  33.6  0.627   50      1
1     85    66    29     0  26.6  0.351   31      0
8    183    64     0     0  23.3  0.672   32      1
1     89    66    23    94  28.1  0.167   21      0
0    137    40    35   168  43.1  2.288   33      1
..   ...   ...   ...   ...   ...    ...  ...    ...
10   101    76    48   180  32.9  0.171   63      0
2    122    70    27     0  36.8  0.340   27      0
5    121    72    23   112  26.2  0.245   30      0
1    126    60     0     0  30.1  0.349   47      1
1     93    70    31     0  30.4  0.315   23      0

[768 rows x 8 columns]

In [6]:
x=df.drop('class',axis=1)
y=df['class']

In [9]:
num_folds=50
seed=7

kfold=KFold(n_splits=num_folds,shuffle=True,random_state=seed)
model= LogisticRegression()
results=cross_val_score(model,x,y,cv=kfold)
print('Accuracy: %.3f%% (%.3f%%)' % (results.mean()*100,results.std()*100.0))
print(results)

Accuracy: 77.692% (11.163%)
[0.6875     0.875      0.8125     0.9375     0.9375     0.75
 0.75       0.8125     0.6875     0.625      0.875      0.6875
 0.6875     0.8125     0.6875     0.875      0.875      0.9375
 0.66666667 0.8        0.86666667 0.66666667 0.86666667 0.73333333
 0.93333333 0.8        0.86666667 0.86666667 0.66666667 0.73333333
 0.53333333 0.53333333 0.66666667 0.8        0.8        0.73333333
 0.86666667 0.8        0.66666667 1.         0.8        1.
 0.66666667 0.93333333 0.66666667 0.66666667 0.8        0.8
 0.66666667 0.66666667]