# Leave One Out Cross Validation

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd

In [7]:
df=pd.DataFrame({'y':[6,8,12,14,14,15,17,22,24,23],
                 'x1':[2,5,4,3,4,6,7,5,8,9],
                 'x2':[14,12,12,13,7,8,7,4,6,5]})

In [8]:
df

    y  x1  x2
0   6   2  14
1   8   5  12
2  12   4  12
3  14   3  13
4  14   4   7
5  15   6   8
6  17   7   7
7  22   5   4
8  24   8   6
9  23   9   5

In [11]:
#define predeator and resopnse variable
x=df[['x1','x2']]
y=df['y']

#define cross validation method
cv=LeaveOneOut()

#build multiple linear regression model
model=LinearRegression()

#use LOOCV to evaluate model
score=cross_val_score(model,x,y,scoring='neg_mean_absolute_error',cv=cv,n_jobs=1)

#view RMSE
sqrt(mean(absolute(score)))

1.7737403441166277

In [12]:
absolute(score)

array([1.7159581 , 4.91317829, 1.37391167, 6.76454294, 3.88354531,
       2.18982218, 2.22270204, 3.37927664, 4.43852243, 0.5800885 ])